%div.wrap	
	%div.desc 
		%p.item-1 Современная
		%p.item-2 ДОСТАВКА ГРУЗОВ
		%p.item-3 оперативно и надежно
%div.wrap_big
	%div.top-img-1
		= image_tag("sld_1.jpg")
	%div.top-img-2
		= image_tag("sld_2.jpg")
	%div.top-img-3
		= image_tag("sld_3.jpg")
.wrap
	%section		
		.row.nav	
			.span2-5
				%h3 УСЛУГИ
				%p отсортированы по типам перевозок
			%div.nav-menu
				.span3.active
					%p контейнерные			
				.span3
					%p грузы Po-Po
				.span3	
					%p навалочные грузы				
	%section
		.row.news
			.span2-5
				%h4
					02
					%span декабря
				%a{ :href=> "/", :class => "redline" } 
					%span На чемпионате Европы Украина сыграет с Англией, Францией и Швецией 02 декабря
			.span3
				%h4
					14
					%span мая
				%a{ :href=> "/", :class => "redline" } 
					%span В Москве, в концертном зале «Известия Холл» прошла долгожданная презентация легендарного бизнес седана Honda Accord 01 декабря
			.span3
				%h4
					21
					%span ноября
				%a{ :href=> "/", :class => "redline" } 
					%span УЕФА завел дисциплинарное дело на Луиса Адриану. Лига чемпионов 21 ноября
			.span3
				= image_tag("ico_car.png", :alt=>"Misc")
				%p.redline 
					%span Спец. предложения по перевозке комбайнов
		.row.news-out
			= link_to 'Все новости'

