.wrap
	.row
		.span2
			%nav.cat-list
				%h2 
					%span НАШИ
					УСЛУГИ:
				%ul.active.height
					%li
						= image_tag("cat-list-ico-1.png")
						= image_tag("cat-list-top-ico.png", :class => "pull-right")
						%p контейнерные
					%li.active 
						%a{ :href => "/" } Общая информация
					%li 
						%a{ :href => "/" } Фрахтовое экспедирование					
					%li 
						%a{ :href => "/" } Судовое/Линейное агентирование 
					%li 
						%a{ :href => "/" } Внутрипортовая перевалка 
					%li 
						%a{ :href => "/" } Таможенные брокерские услуги
					%li 
						%a{ :href => "/" } Тальманские и сюрвейерские услуги, слежение за контейнерами
					%li 
						%a{ :href => "/" } Подать заявку	 
				%ul
					%li
						= image_tag("cat-list-ico-2.png")
						= image_tag("cat-list-top-ico.png", :class => "pull-right")
						%p грузы Ро-Ро
					%li 
						%a{ :href => "/" } Фрахтовое экспедирование					
					%li 
						%a{ :href => "/" } Судовое/Линейное агентирование 
					%li 
						%a{ :href => "/" } Внутрипортовая перевалка 
					%li 
						%a{ :href => "/" } Таможенные брокерские услуги
					%li 
						%a{ :href => "/" } Тальманские и сюрвейерские услуги, слежение за контейнерами
					%li 
						%a{ :href => "/" } Подать заявку
				%ul
					%li
						= image_tag("cat-list-ico-3.png")
						= image_tag("cat-list-top-ico.png", :class => "pull-right")
						%p навалочные грузы
					%li 
						%a{ :href => "/" } Фрахтовое экспедирование					
					%li 
						%a{ :href => "/" } Судовое/Линейное агентирование 
					%li 
						%a{ :href => "/" } Внутрипортовая перевалка 
					%li 
						%a{ :href => "/" } Таможенные брокерские услуги
					%li 
						%a{ :href => "/" } Тальманские и сюрвейерские услуги, слежение за контейнерами
					%li 
						%a{ :href => "/" } Подать заявку
		.span6
			.content-1
				%section
					%h2 Общая информация
					%article
						%p Благодаря многолетнему опыту работы в сфере международных перевозок, на основании наших договорных и партнерских отношений с ведущими контейнерными Линиями, логистическими и транспортными компаниями, мы можем обеспечить перевозку ваших грузов между любыми портами, а также до конечного пункта назначения. Мы выберем наилучший вариант исходя из показателей стоимости и скорости доставки. Решим вопросы, связанные с перевозкой режимных и опасных грузов. 
						%p Высокопрофессиональный состав сотрудников рассмотрит ваши заявки и ответит на них в кратчайшие сроки.	
						.aside			
							= image_tag("service-content-img-1.jpg", :class => 'pull-left')
							= image_tag("service-content-img-2.jpg")
							%p.sign Доверьте решение своих транспортных задач специалистам
							.service-ico
								= image_tag("info-ico.png")		
								%a{:href => "/"} Полезная информация
			.content-2
				%section
					%h2 Фрахтовое экспедирование
					%article
						.span5
							%p Для вас будет выбран и предложен оптимальный вариант доставки контейнерных грузов, решены вопросы выделения и подачи контейнерного оборудования под загрузку. 						
							%p Мы поможем провести все необходимые платежи при расчетах с линией – агентские, погрузка, фрахт и др., согласуем с выбранной Линией размещение букировки на конкретное судно. По итогам отгрузки оформим выпуск коносаментов, а также будем информировать вас о всех этапах перевозки и доставки.	
							%p.sign Просто скажите что и куда вам нужно доставить
							= image_tag("service-content-2-img-1.jpg", :class => 'pull-left')
						.span4-5														
							= image_tag("service-content-2-img-2.jpg")
							.service-ico
								= image_tag("info-ico.png")		
								%a{:href => "/"} Полезная информация
							.service-ico
								= image_tag("stat-ico.png")		
								%a{:href => "/"} Любопытная статистика		
			.content-3
				%section
					%h2 Внутрипортовая перевалка
					%article						
						%p Производим полный комплекс внутрипортовых услуг, включающий в себя накопление грузовых партий, складирование, предотгрузочную подготовку, ремонт и доработку грузовых мест, инспектирование, собственно грузовые операции, включая все возможные варианты приема и перевалки грузов – с/на автотранспорт и ж/д, затарку/растарку контейнеров, оформление комплекта товаросопроводительных документов и прочие специфические услуги. Проведем расчет требуемого количества контейнеров для перевозки ваших грузов, а также, при необходимости, обеспечим крепление и сепарацию груза в контейнере.
						.aside							
							= image_tag("service-content-3-img-1.png")
							.service-ico
								= image_tag("fuckt-ico.png")		
								%a{:href => "/"} Интересные факты
							%p.sign Доверьте решение своих транспортных задач специалистам
			.content-4
				%section
					%h2 Таможенные брокерские услуги
					%article						
						%p Помимо стандартных таможенных формальностей, связанных с прохождением грузов через порты, предоставляем различные виды брокерских услуг – таможенная очистка грузов, следующих в импорте, экспорте и транзите, выпуск и оформление таможенных деклараций, обеспечение финансовых гарантий.
						.aside							
							= image_tag("service-content-4-img-1.jpg")
							.pull-left
								.service-ico
									= image_tag("info-ico.png")		
									%a{:href => "/"} Полезная информация
								.service-ico
									= image_tag("stat-ico.png")		
									%a{:href => "/"} Любобытная статистика
								.service-ico
									= image_tag("fuckt-ico.png")		
									%a{:href => "/"} Интересные факты
							%p.sign Правильное таможенное оформление груза – залог вашей безопасности
			.content-5.active
				%section
					%h2 Тальманские и сюрвейерские услуги, слежение за контейнерами
					%article
						.aside 
							.span5	
								%p Специфический вид услуг, являющийся визитной карточкой нашей компании с момента её основания – организация контроля за движением контейнерного оборудования в портах, представляющего непосредственный интерес для контейнерных Линий. В комплекс услуг входят тальманство, дефектация, инспектирование, организация учета и отчетности по движению контейнеров в электронном варианте, а также составление бей-планов и контроль выдачи контейнерного оборудования третьим сторонам.
								= image_tag("service-content-5-img-1.jpg")					
						.aside	
							= image_tag("service-content-5-img-2.jpg")
							%p.sign Вы будете знать в любой момент времени где находится наш контейнер
							.pull-left
								.service-ico
									= image_tag("info-ico.png")		
									%a{:href => "/"} Полезная информация
								.service-ico
									= image_tag("stat-ico.png")		
									%a{:href => "/"} Любобытная статистика
								.service-ico
									= image_tag("history-ico.png")		
									%a{:href => "/"} Истерическая справка