.row
	%header.header	
		%h1 		
			%a{:href=>"/"}
				= image_tag("logo.png", :alt=>"Misc")
		%nav.nvg
			%ul.hdr-lang.pull-right 
				%li
					%p
						= link_to 'Ru', '/',:class => 'ru active' 
					%p
						= link_to 'En', '/',:class => 'en'									
			%div.nav-stick.pull-right			
			%ul.hdr-menu.pull-right 
				%li					
					= link_to 'О компании'
				%li					
					= link_to 'Услуги'
				%li 
					= link_to 'Документация'
				%li 
					= link_to 'Новости'
				%li 
					= link_to 'Галерея'
				%li 
					= link_to 'Контакты'
			= image_tag("header-triangle.png", :alt=>"Misc", :class => "hdr-menu-border")
	