.row
	%header.header	
		%h1 		
			%a{:href=>"/"}
				= image_tag("logo.png", :alt=>"Misc")
		%nav.nvg
			%ul.hdr-lang.pull-right 
				%li
					%p
						= link_to 'Ru', '/',:class => 'ru active' 
					%p
						= link_to 'En', '/',:class => 'en'									
			%div.nav-stick.pull-right			
			%ul.hdr-menu.pull-right 
				%li{ class: (current_page?(about_path))? 'active' : nil }						
					= link_to 'О компании', '/about'
				%li{ class: (current_page?(service_path))? 'active' : nil }					
					= link_to 'Услуги', '/service'
				%li 
					= link_to 'Документация'
				%li 
					= link_to 'Новости'
				%li 
					= link_to 'Галерея'
				%li{ class: (current_page?(contact_path))? 'active' : nil }	 
					= link_to 'Контакты', '/contact'
			= image_tag("header-triangle.png", :alt=>"Misc", :class => "hdr-menu-border")
	