.row
	%header
		%h1 
			= image_tag("logo.png")
		%nav
			%ul.pull-right 
				%li 
					= link_to 'O kompanii'
				%li 
					= link_to 'Uslugi'
				%li 
					= link_to 'Documentaciya'
				%li 
					= link_to 'Novosti'
				%li 
					= link_to 'Galereya'
				%li 
					= link_to 'Kontakti'
				%li 
					%span 
						= link_to 'Ru' 
					%span 
						= link_to 'En'
	