.span2
	.cat-list
		%h2 
			%span НАШИ
			УСЛУГИ:
		%ul
			%li
				= image_tag("cat-list-ico-1.png")
				= image_tag("cat-list-top-ico.png", :class => "pull-right")
				%p контейнерные
		%ul
			%li
				= image_tag("cat-list-ico-2.png")
				= image_tag("cat-list-top-ico.png", :class => "pull-right")
				%p грузы Ро-Ро
		%ul
			%li
				= image_tag("cat-list-ico-3.png")
				= image_tag("cat-list-top-ico.png", :class => "pull-right")
				%p навалочные грузы
	- if current_page?(contact_path)			
		%img{ :src => "assets/sample-map.jpg"}
	- if current_page?(news_path)			
		#datepicker