!!!
%html(lang="en")
	%head
	= stylesheet_link_tag    "application", :media => "all"
	= javascript_include_tag "application"
	= csrf_meta_tags
	%body
		.main
			.wrap
				%div#parallax					
					=image_tag("leaf_sml.png", :class => "leaf_sml")
					=image_tag("leaf_big.png", :class => "leaf_big")
					=image_tag("leaf_mid.png", :class => "leaf_mid")
					=image_tag("bubble_sml.png", :class => "bubble_sml"  )
					=image_tag("bubble_big.png", :class => "bubble_big" )
					=image_tag("bubble_mid.png", :class => "bubble_mid" )
				= render 'nav/header'
			= yield		
			.hFooter
		%footer.footer
			= render 'nav/footer'	

